/*
    ALERTA: Este Projeto Tem como objetivo criar e emular um terminal web para baixar programas e fazer testes/analises
      de segurança, com isso o programa não tem como objetivo ser usado para fins criminais, mas sim para estudos da área
      da segurança da informação, portanto informo aqui que o não que responsabilizo pelo mal uso deste software e qualquer problema
      o responsável por usar esta ferramenta deverá responder pelos seus atos!
*/
*{
    margin: 0;
    padding: 0;
    font-size: 16px
}

body{
    background-color: #000000;
}


.terminal {
 --color: rgb(0, 123, 255);
 --animation: terminal-bar;
}
/*
    ALERTA: Este Projeto Tem como objetivo criar e emular um terminal web para baixar programas e fazer testes/analises
      de segurança, com isso o programa não tem como objetivo ser usado para fins criminais, mas sim para estudos da área
      da segurança da informação, portanto informo aqui que o não que responsabilizo pelo mal uso deste software e qualquer problema
      o responsável por usar esta ferramenta deverá responder pelos seus atos!
*/
